{% extends 'base.html' %}
{% block content %}
<div id="register-tab">

    <div class="register-content">
        <div id="register-text">
            Hospital Management System Registration
        </div>
    <div class="container">
    <form method="POST">
    <div class="row">
        <div class="col">
            <div>
                <input type="text" id="registerName" class="form-control" />
                <label class="form-label" for="registerName">First Name</label>
            </div>
        </div>
        <div class="col">
            <div>
                <input type="text" id="registerName" class="form-control" />
                <label class="form-label" for="registerName">Last Name</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <div>
            <input type="email" id="registerEmail" class="form-control" />
            <label class="form-label" for="registerEmail">Email</label>
        </div>
        </div>
        <div class="col">
            <div>
                <input type="text" id="registerUsername" class="form-control" />
                <label class="form-label" for="registerUsername">Phone</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <input type="password" id="registerPassword" class="form-control" />
                <label class="form-label" for="registerPassword">Password</label>
            </div>
        </div>
        <div class="col">
            <div>
                <input type="password" id="registerRepeatPassword" class="form-control" />
                <label class="form-label" for="registerRepeatPassword">Repeat password</label>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary btn-block mb-4" id="register-btn">Register</button>
        <div id="register-login-text"><p>Already have an Account <a href="{{ url_for('login') }}">Login</a> </p></div>
    </div>

    </form>
</div>
{% endblock %}